// Базовые стили спойлеров
// Сниппет (HTML): spoller

.spollers {
	// .spollers__item
	&__item {
	}

	// .spollers__title
	&__title {
		width: 100%;
		cursor: default;
		text-align: left;
		position: relative;

		._spoller-init & {
			cursor: pointer;
			padding-right: rem(40);

			&::before {
				content: "\e90d";
				@extend %ic;
				position: absolute;
				font-size: rem(32);
				top: 50%;
				transform: translateY(-50%);
				right: rem(5);
				transition: $transition ease transform 0s;
			}

			&._spoller-active {
				&::before {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}

	// .spollers__body
	&__body {
	}
}
