// blog ====================================================================================================
.blog {
   overflow: hidden;

   // .blog__top
   &__top {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 88, 48);
      }
   }

   // .blog__container
   &__container {
   }

   // .blog__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 32, 24);
      }
   }

   // .blog__heading
   &__heading {
      display: grid;
      gap: rem(20);

      @media (min-width: $mobile) {
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
      }
   }

   // .blog__text
   &__text {
      max-width: rem(480);
   }

   // .blog__mailing
   &__mailing {
      flex: 0 0;
      @include adaptiveValue("flex-basis", 326, 220, 1440, 744, 1);
      max-width: rem(326);
   }

   // .blog__categories
   &__categories {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 54, 32);
      }
   }

   // .blog__items
   &__items {
      display: grid;
      row-gap: rem(20);
      @include adaptiveValue("column-gap", 20, 10);
      max-width: rem(1920);
      margin-left: auto;
      margin-right: auto;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         background: rgba($color: #333, $alpha: 0.6) url(../img/icons/loading.gif) no-repeat center/rem(50);
         opacity: 0;
         visibility: hidden;
         transition: $transition ease all 0s;
      }

      &._loading {
         &::after {
            opacity: 1;
            visibility: visible;
         }
      }

      @media (min-width: $mobileM) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $mobileM) {
         row-gap: rem(32);
      }

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 56, 40);
      }
   }

   // .blog__item
   &__item {
   }

   // .blog__pagination
   &__pagination {
   }

   // .blog__more
   &__more {
      display: flex;
      justify-content: center;
      padding-left: rem(15);
      padding-right: rem(15);

      .btn {
         @media (max-width: $mobileSmall) {
            width: 100%;
         }
      }
   }

   .wpcf7-form {
      @media (min-width: $mobileM) {
         @include adaptiveValue("max-width", 326, 220, 1440, 744, 1);
      }
   }
}

.blog-item {
   display: grid;
   position: relative;
   border-radius: rem(1);
   overflow: hidden;
   @include adaptiveValue("padding-top", 140, 40);
   @include adaptiveValue("padding-right", 175, 0, 1440, 992, 1);

   /* @media (min-width: em($maxWidth)) {
      padding-top: percent(140, 502);
      padding-right: percent(175, 710);
   } */

   img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   // .blog-item__body
   &__body {
      display: grid;
      align-content: space-between;
      @include adaptiveValue("row-gap", 24, 16);
      @include adaptiveValue("padding-top", 44, 32, 1440, 575, 1);
      @include adaptiveValue("padding-bottom", 44, 32, 1440, 575, 1);
      @include adaptiveValue("padding-left", 40, 20, 1440, 575, 1);
      @include adaptiveValue("padding-right", 40, 20, 1440, 575, 1);
      background-color: rgba($color: $White, $alpha: 0.8);
      @include adaptiveValue("border-top-right-radius", 300, 100, 1440, 575, 1);
      @include adaptiveValue("border-bottom-right-radius", 300, 100, 1440, 575, 1);
   }

   // .blog-item__heading
   &__heading {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 16, 8);

      @media (min-width: $mobile) {
         max-width: percent(450, 510);
      }
   }

   // .blog-item__caption
   &__caption {
      @include adaptiveValue("font-size", 26, 16);
      line-height: math.div(31, 26);
      display: flex;
      align-items: center;

      @media (max-width: $mobileM) {
      }

      span {
         display: -webkit-box;
         -webkit-line-clamp: 4;
         -webkit-box-orient: vertical;
         overflow: hidden;
      }

      i {
         display: flex;
         align-items: center;
         justify-content: center;
         flex: 0 0 rem(50);
         @include adaptiveValue("width", 50, 40);
         @include adaptiveValue("height", 50, 40);
         @include adaptiveValue("flex-basis", 50, 40);
         border: rem(1) solid #2e4798;
         border-radius: 50%;
         @include adaptiveValue("font-size", 20, 16);
         transform: rotate(135deg);
         @include adaptiveValue("margin-left", 18, 8);
      }
   }
   a.blog-item__caption {
      span {
         text-decoration: underline transparent from-font;
         text-underline-offset: 3px;
         transition: $transition ease text-decoration 0s;
      }

      @media (any-hover: hover) {
         &:hover {
            span {
               text-decoration: underline $mainColor from-font;
            }
         }
      }
   }

   // .blog-item__date
   &__date {
      font-size: rem(12);
      line-height: math.div(13, 12);
      color: $DGrey;
   }

   // .blog-item__excerpt
   &__excerpt {
      @media (min-width: $mobile) {
         max-width: percent(450, 510);
      }
   }
}

// mailing ====================================================================================================
.mailing {
   // .mailing__item
   &__item {
      position: relative;
      overflow: hidden;
   }

   // .mailing__input
   &__input {
      padding: rem(13) rem(30) rem(13) 0;
   }

   // .mailing__submit
   &__submit {
      font-size: rem(24);
      color: #2e4798;
      transform: rotate(180deg);
      position: absolute;
      right: 0;
      top: rem(0);
      @include adaptiveValue("height", 46, 44);
      z-index: 1;
      padding-left: rem(3);
      padding-right: rem(3);
      background-color: $White;
      transition: $transition ease background-color 0s;

      @media (any-hover: hover) {
         &:hover {
            background-color: $LGBlue;
         }
      }

      &:focus {
         background-color: $LGBlue;
         outline: none;
      }

      @media (any-hover: hover) {
         &:hover {
            color: #9f31d3;
         }
      }
   }

   // .mailing__row
   &__row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: rem(-6) rem(-12);

      & > * {
         padding: rem(6) rem(12);
      }
   }

   // .mailing__theme
   &__theme {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: rem(-6) rem(-12);

      & > * {
         padding: rem(6) rem(12);
      }

      .checkbox {
         margin: 0;

         &:not(:last-child) {
            margin: 0;
         }
      }
   }

   // .mailing__description
   &__description {
      color: #2e4798;
   }
}

// single-article ====================================================================================================
.single-article {
   display: grid;
   align-content: flex-start;
   @include adaptiveValue("row-gap", 64, 32);

   // .single-article__heading
   &__heading {
      .single-article__container {
         position: relative;
         max-width: rem($maxWidthContainer);
      }
   }

   // .single-article__container
   &__container {
      max-width: rem(780);
   }

   .back {
      @media (min-width: $pc) {
         position: absolute;
      }
      @media (max-width: $pc) {
         width: 100%;
         max-width: rem(780);
         margin-left: auto;
         margin-right: auto;
         @include adaptiveValue("margin-bottom", 24, 16);
      }
   }

   // .single-article__wrapper
   &__wrapper {
      max-width: rem(780);
      margin-left: auto;
      margin-right: auto;
   }

   // .single-article__title
   &__title {
      font-weight: 600;
      @include adaptiveValue("font-size", 34, 16);
      line-height: math.div(41, 34);
      margin-bottom: rem(16);
   }

   // .single-article__preview
   &__preview {
      position: relative;
      @include adaptiveValue("padding-bottom", 455, 200);
      width: 100%;
      max-width: rem(1920);
      margin-left: auto;
      margin-right: auto;

      @media (min-width: em($minWidth)) {
         padding-bottom: percent(455, 1440);
      }
      @media (min-width: $tablet) {
         &::before,
         &::after {
            content: "";
            display: block;
            position: absolute;
            background: $Gradient;
            pointer-events: none;
         }
         &::before {
            @include adaptiveValue("left", 125, 20, 1180, 992, 1);
            bottom: 0;
            transform: translateY(100%);
            width: rem(20);
            height: rem(82);
            animation: article-preview-before 12s ease-in-out infinite;
         }
         &::after {
            width: rem(10);
            height: rem(135);
            bottom: rem(-44);
            @include adaptiveValue("left", 172, 67, 1180, 992, 1);
            transform: translateY(100%);
            animation: article-preview-after 10s ease-in-out infinite;
         }

         @keyframes article-preview-before {
            0% {
               bottom: 0;
            }
            50% {
               bottom: rem(-44);
            }
            100% {
               bottom: 0;
            }
         }
         @keyframes article-preview-after {
            0% {
               bottom: rem(-44);
            }
            50% {
               bottom: rem(0);
            }
            100% {
               bottom: rem(-44);
            }
         }
      }
      @media (min-width: $pc) {
         &::before {
            left: percent(125, 1440);
         }
         &::after {
            left: percent(172, 1440);
         }
      }
      @media (max-width: $mobileSmall) {
         padding-bottom: rem(250);
      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .single-article__content
   &__content {
      font-weight: 400;
      @include adaptiveValue("font-size", 16, 14);
      line-height: math.div(24, 16);

      p {
         @include adaptiveValue("margin-top", 24, 16);
         @include adaptiveValue("margin-bottom", 24, 16);
      }
   }
}

.single-blog {
   .case-navigation {
      h2 {
         font-weight: 500;
         @include adaptiveValue("font-size", 60, 28);
         line-height: math.div(66, 60);
      }
      // .case-navigation__wrapper
      &__wrapper {
         max-width: rem(478);
      }

      // .case-navigation__title
      &__title {
         @include adaptiveValue("font-size", 28, 14);
         max-width: rem(438);
      }
   }
}
//====================================================================================================
