// case-firstscreen ====================================================================================================
.single-portfolio {
   .logo__link {
      max-width: rem(78);
   }
}

// case-firstscreen ====================================================================================================
.case-firstscreen {
   position: relative;
   color: $White;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: rgba($color: rgba(80, 87, 126, 0.6), $alpha: 0.6);
      z-index: -1;
   }

   // .case-firstscreen__bg
   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: -2;
   }

   // .case-firstscreen__container
   &__container {
   }

   // .case-firstscreen__text
   &__text {
      @include adaptiveValue("padding-top", 80, 40);
      max-width: rem(621);

      h1 {
         @include adaptiveValue("font-size", 50, 28);
         line-height: math.div(55, 50);
      }
   }
}

// case-details ====================================================================================================
.case-details {
   // .case-details__container
   &__container {
      display: grid;
      @include adaptiveValue("row-gap", 100, 48);
   }

   // .case-details__item
   &__item {
   }
}

.item-details {
   display: grid;
   align-items: flex-start;
   row-gap: rem(24);
   @include adaptiveValue("column-gap", 120, 20, 1440, 992, 1);

   // .item-details_column
   &_column {
      @media (min-width: $mobile) {
         grid-template-columns: 1fr percent(780, 1180);
      }
   }

   // .item-details__heading
   &__heading {
   }

   // .item-details__caption
   &__caption {
      font-weight: 600;
      @include adaptiveValue("font-size", 30, 16);
      line-height: math.div(33, 30);
      background: $Gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 72, 32);
      }
   }

   // .item-details__indicators
   &__indicators {
      display: grid;
      @include adaptiveValue("gap", 48, 24);

      @media (max-width: $mobile) {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   // .item-details__indicator
   &__indicator {
   }

   // .item-details__indicators-value
   &__indicators-value {
      font-weight: 600;
      @include adaptiveValue("font-size", 30, 16);
      line-height: 1;
   }

   // .item-details__indicators-caption
   &__indicators-caption {
   }

   // .item-details__body
   &__body {
      img {
         display: inline-block;
      }
   }

   // .item-details__gallery
   &__gallery {
      @include adaptiveValue("gap", 20, 10);

      a {
         @media (max-width: $mobileSmall) {
            display: block;
            position: relative;
            padding-bottom: percent(196, 296);

            img {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
   }
}

.grid-row {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
   .grid-#{$i} {
      grid-column: span #{$i};
   }
}

@media (min-width: $mobileSmall) {
   @for $i from 1 through 12 {
      .grid-sm-#{$i} {
         grid-column: span #{$i};
      }
   }
}
@media (min-width: $mobile) {
   @for $i from 1 through 12 {
      .grid-md-#{$i} {
         grid-column: span #{$i};
      }
   }
}

// case-navigation ====================================================================================================
.case-navigation {
   padding: 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: rem(20);
   @include adaptiveValue("column-gap", 20, 6);
   max-width: rem(1920);
   margin-left: auto;
   margin-right: auto;

   // .case-navigation__item
   &__item {
      @include adaptiveValue("min-height", 502, 153);
      position: relative;
      color: $White;
      display: grid;
      align-content: center;
      border-radius: rem(1);
      overflow: hidden;

      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         display: block;
         width: 100%;
         height: 100%;
         background-color: rgba($color: #000000, $alpha: 0.6);
         z-index: -1;
         pointer-events: none;
      }

      &:nth-child(2n-1) {
         .case-navigation__arrow {
            transform: rotate(180deg);
         }
      }
   }
   a.case-navigation__item {
      @media (any-hover: hover) {
         overflow: hidden;

         img {
            transition: 5s ease all 0s;
         }

         &:hover {
            img {
               transform: scale(1.1) translateY(-15px);
               transform-origin: top;
            }
         }
      }
   }

   // .case-navigation__wrapper
   &__wrapper {
      text-align: center;
      max-width: rem(420);
      margin-left: auto;
      margin-right: auto;
      padding: rem(100) rem(20);
      @include adaptiveValue("padding-top", 100, 50);
      @include adaptiveValue("padding-bottom", 100, 50);
      display: grid;
      justify-items: center;
      gap: rem(16);
   }

   // .case-navigation__bg
   &__bg {
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         z-index: -2;
      }
   }

   // .case-navigation__label
   &__label {
      display: none;

      @media (min-width: $mobile) {
         display: block;
         font-weight: 400;
         font-size: rem(14);
         line-height: math.div(17, 14);
         color: rgba($color: $White, $alpha: 0.5);
      }
   }

   // .case-navigation__title
   &__title {
      font-weight: 500;
      @include adaptiveValue("font-size", 32, 14);
      line-height: math.div(38, 32);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media (min-width: $mobile) {
         &:not(:last-child) {
            margin-bottom: rem(8);
         }
      }
   }

   // .case-navigation__arrow
   &__arrow {
      display: none;

      @media (min-width: $mobile) {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: rem(13);
         border: 1px solid $White;
         border-radius: 50%;
         font-size: rem(20);

         @media (any-hover: hover) {
            transition: $transition all 0s;

            &:hover {
               padding: rem(19);
               margin: rem(-6);
            }
         }
      }
   }
}

// callback ====================================================================================================
.callback {
   // .callback__container
   &__container {
      display: grid;
      align-items: center;
      @include adaptiveValue("column-gap", 100, 20, 1440, 992, 1);
      row-gap: rem(32);

      @media (min-width: $mobile) {
         grid-template-columns: 1fr percent(679, 1180);
      }
      @media (max-width: $mobile) {
         max-width: rem(480);
      }
   }

   // .callback__heading
   &__heading {
      @include adaptiveValue("font-size", 16, 14);

      h1,
      h2,
      h3 {
         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 16);
         }
      }
   }

   // .callback__form
   &__form {
      @media (min-width: $mobile) {
         @include adaptiveValue("padding-top", 100, 50, 1440, 744, 1);
         @include adaptiveValue("padding-bottom", 100, 50, 1440, 744, 1);
         @include adaptiveValue("padding-left", 200, 70, 1440, 744, 1);
         @include adaptiveValue("padding-right", 100, 20, 1440, 744, 1);
         background-color: $LGBlue;
         border-radius: rem(500) 0 0 rem(500);
         @include adaptiveValue("border-top-left-radius", 500, 180, 1440, 744, 1);
         @include adaptiveValue("border-bottom-left-radius", 500, 180, 1440, 744, 1);
      }

      .form__input {
         background-color: transparent;
      }
   }
}
