// firstscreen ====================================================================================================
.firstscreen {
    position: relative;
    color: $White;
    display: flex;
    flex-direction: column;

    // .firstscreen__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    // .firstscreen__container
    &__container {
        flex: 1;
        display: flex;
        flex-direction: column;

        @media (min-width: $tablet) {
            width: 100%;
        }
    }

    // .firstscreen__wrapper
    &__wrapper {
        position: relative;
        z-index: 1;
        @include adaptiveValue("padding-top", 90, 40);
        @include adaptiveValue("padding-bottom", 90, 40);
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: rem(874);
    }

    // .firstscreen__text
    &__text {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    // .firstscreen__actions
    &__actions {
        display: grid;
        gap: rem(20);

        @media (min-width: $mobileSmall) {
            grid-template-columns: repeat(auto-fit, minmax(rem(100), rem(268)));
        }
    }

    // .firstscreen__btn
    &__btn {
    }

    // .firstscreen__social
    &__social {
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }

        &:not(:first-child) {
            margin-top: rem(96);
        }
    }
}

// about ====================================================================================================
.about {
    position: relative;

    @media (min-width: $mobile) {
        &::after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            @include adaptiveValue("width", 318, 168, 1440, 768, 1);
            height: 100%;
            background: url(../img/pattern-white.svg) no-repeat center/cover;
            pointer-events: none;
            z-index: -1;
        }
    }

    // .about__container
    &__container {
    }

    // .about__title
    &__title {
        @include adaptiveValue("font-size", 60, 28);
        background: $Gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:not(:last-child) {
            margin-bottom: rem(32);
            // @include adaptiveValue("margin-bottom", 64, 32);
        }
    }

    // .about__top-row
    &__top-row {
        display: grid;
        align-items: flex-start;
        row-gap: rem(32);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 100, 56);
        }

        @media (min-width: $mobile) {
            grid-template-columns: percent(581, 1180) 1fr;
            @include adaptiveValue("column-gap", 120, 20, 1440, 992, 1);
        }
    }

    // .about__text
    &__text {
        @include adaptiveValue("font-size", 16, 14);
    }

    // .about__persons
    &__persons {
        display: grid;
        gap: rem(32);
    }

    // .about__person
    &__person {
    }
    a.about__person {
        @media (any-hover: hover) {
            .person-about__name {
                text-decoration: underline transparent from-font;
                text-underline-offset: 3px;
                transition: $transition ease text-decoration 0s;
            }

            &:hover {
                .person-about__name {
                    text-decoration: underline $mainColor from-font;
                }
            }
        }
    }

    // .about__bottom-row
    &__bottom-row {
        display: grid;
        align-items: center;

        @media (min-width: $mobile) {
            grid-template-columns: percent(480, 1180) 1fr;
            @include adaptiveValue("column-gap", 120, 20, 1440, 992, 1);
        }
    }

    // .about__image
    &__image {
        @media (min-width: $mobile) {
            // overflow: hidden;
            position: relative;

            img {
                border-radius: 0 rem(100) rem(100) 0;
            }
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }

    // .about__image-thumb
    &__image-thumb {
        @media (min-width: $mobile) {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: rem(-5);
            background-color: $White;
            pointer-events: none;
        }
    }

    // .about__indicators
    &__indicators {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(190), 1fr));
        @include adaptiveValue("column-gap", 120, 20, 1440, 992, 1);
        row-gap: rem(40);

        @media (max-width: $mobileSmall) {
            gap: rem(16);
            grid-template-columns: repeat(auto-fill, minmax(rem(130), 1fr));
        }
    }

    // .about__indicator
    &__indicator {
    }
}

.person-about {
    display: grid;
    @include adaptiveValue("column-gap", 20, 10, 1440, 992, 1);
    row-gap: rem(16);
    max-width: rem(492);
    grid-template-columns: percent(163, 492) 1fr;

    @media (min-width: $mobile) {
        grid-template-columns: percent(180, 480) 1fr;
    }

    // .person-about__avatar
    &__avatar {
        background-color: $White;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding-bottom: rem(127);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            border-radius: rem(100) 0 0 rem(100);
        }
    }

    // .person-about__body
    &__body {
        display: grid;
        grid-template-rows: 1fr;
        @include adaptiveValue("row-gap", 40, 20);
        @include adaptiveValue("font-size", 14, 12, 575, 320, 1);
    }

    // .person-about__quote
    &__quote {
    }

    // .person-about__heading
    &__heading {
        display: grid;
        row-gap: rem(8);
        line-height: math.div(15, 14);
    }

    // .person-about__name
    &__name {
        font-weight: 700;
    }

    // .person-about__position
    &__position {
        color: $DGrey;
    }
}

.indicator-about {
    display: grid;
    align-items: flex-start;
    row-gap: rem(8);

    // .indicator-about__value
    &__value {
        line-height: math.div(108, 120);

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 120, 90, 1440, 740, 1);
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("font-size", 120, 64);
        }
    }

    // .indicator-about__caption
    &__caption {
        @include adaptiveValue("font-size", 16, 14);
    }
}

// portfolio ====================================================================================================
.portfolio {
    // .portfolio__container
    &__container {
    }

    // .portfolio__heading
    &__heading {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }

    // .portfolio__wrapper
    &__wrapper {
    }

    // .portfolio__items
    &__items {
        display: grid;
        @include adaptiveValue("gap", 20, 8);
        max-width: rem(1920);
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 24);
        }
    }

    // .portfolio__item
    &__item {
    }

    // .portfolio__btn
    &__btn {
        display: flex;

        @media (min-width: $mobileSmall) {
            justify-content: center;
        }
        @media (max-width: $mobileSmall) {
            padding-left: rem(15);
            padding-right: rem(15);

            .btn {
                width: 100%;
            }
        }
    }

    // .portfolio__cta
    &__cta {
    }
}

.cta {
    text-align: center;

    &:not(:first-child) {
        @include adaptiveValue("padding-top", 110, 48);
    }

    // .cta__text
    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 24);
        }
    }

    // .cta__button
    &__button {
        @media (max-width: $mobileSmall) {
            .btn {
                width: 100%;
            }
        }
    }
}

.item-portfolio {
    display: block;
    position: relative;
    padding-bottom: percent(502, 710);
    border-radius: rem(1);
    overflow: hidden;

    &::before {
        content: "";
        pointer-events: none;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba($color: $mainColor, $alpha: 0.6);
        transition: 0.5s ease opacity 0s;
    }

    // .item-portfolio__img
    &__img {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .item-portfolio__body
    &__body {
        padding: rem(20);
        width: 100%;
        max-width: rem(398);
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $White;
        display: grid;
        row-gap: rem(8);
        text-align: center;
    }

    // .item-portfolio__descr
    &__descr {
        font-weight: 400;
        font-size: rem(14);
        line-height: math.div(17, 14);
        color: rgba($color: $White, $alpha: 0.5);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    // .item-portfolio__caption
    &__caption {
        @include adaptiveValue("font-size", 32, 24);
        line-height: math.div(24, 20);
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
a.item-portfolio {
    @media (any-hover: hover) {
        &::before {
            opacity: 0;
        }

        .item-portfolio__body {
            transform: translate(-50%, -40%);
            opacity: 0;
            transition: $transition ease transform, $transition opacity 0s;
        }

        &:hover {
            &::before {
                opacity: 1;
            }

            .item-portfolio__body {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
        }
    }
}

// features ====================================================================================================
.features {
    &:not(:first-child) {
        padding-top: 0;

        .features__title {
            @include adaptiveValue("padding-top", 110, 48);
            border-top: rem(1) solid $Line;
        }
    }

    // .features__container
    &__container {
    }

    // .features__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }

    // .features__items
    &__items {
        display: grid;
        align-items: flex-start;
        @include adaptiveValue("row-gap", 56, 32);

        @media (min-width: $mobileM) {
            @include adaptiveValue("column-gap", 60, 16, 1440, 768, 1);
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .features__item
    &__item {
    }
}

.item-feature {
    display: grid;
    align-items: flex-start;
    row-gap: rem(16);

    // .item-feature__icon
    &__icon {
        max-width: rem(44);
        padding-bottom: rem(44);
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }

    // .item-feature__caption
    &__caption {
        font-weight: 600;
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(23, 18);
    }

    // .item-feature__text
    &__text {
        font-weight: 400;
    }
}

// steps ====================================================================================================
.steps {
    position: relative;
    color: $White;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        background-color: rgba($color: $mainColor, $alpha: 0.2);
    }

    // .steps__bg
    &__bg {
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }

    // .steps__container
    &__container {
    }

    // .steps__title
    &__title {
        text-align: center;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }

    // .steps__spollers
    &__spollers {
        display: grid;
        @include adaptiveValue("gap", 20, 4);

        @media (min-width: $mobile) {
            grid-template-columns: repeat(6, 1fr);
        }

        .spollers {
            // .spollers__item
            &__item {
            }
            // .spollers__title
            &__title {
            }
            // .spollers__body
            &__body {
            }
        }
    }

    // .steps__item
    &__item {
        @media (min-width: $mobile) {
            grid-column: span 3;

            &:nth-child(3) {
                grid-column: 1/5;
            }
            &:nth-child(4) {
                grid-column: 5/7;
            }
        }
    }
}

.item-step {
    border: rem(1) solid $White;

    @media (min-width: $mobileM) {
        @include adaptiveValue("padding-top", 30, 15);
        @include adaptiveValue("padding-bottom", 30, 15);
        @include adaptiveValue("padding-left", 30, 12);
        @include adaptiveValue("padding-right", 30, 12);
    }
    @media (max-width: $mobile) {
        background-color: $White;
        color: $mainColor;
    }

    @media (any-hover: hover) {
        transition: $transition ease background-color, $transition color 0s;

        &:hover {
            background-color: $White;
            color: $mainColor;

            .item-step__num {
                color: #2e4798;
            }
        }
    }

    // .item-step__title
    &__title {
        display: grid;
        @include adaptiveValue("row-gap", 30, 8);
        background-color: transparent;

        @media (max-width: $mobile) {
            align-items: center;
            grid-template-columns: rem(34) 1fr;
            @include adaptiveValue("column-gap", 30, 8);
        }
        @media (max-width: $mobileM) {
            @include adaptiveValue("padding-top", 30, 15);
            @include adaptiveValue("padding-bottom", 30, 15);
            @include adaptiveValue("padding-left", 30, 12);
            @include adaptiveValue("padding-right", 30, 12);
            grid-template-columns: rem(28) 1fr;
        }
    }

    // .item-step__num
    &__num {
        font-weight: 600;
        @include adaptiveValue("font-size", 32, 16);
        line-height: math.div(35, 32);
        transition: $transition ease color 0s;

        @media (max-width: $mobile) {
            background: $Gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    // .item-step__caption
    &__caption {
        font-weight: 600;
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(23, 18);
    }

    // .item-step__text
    &__text {
        @include adaptiveValue("margin-top", 16, 8);

        @media (min-width: $mobileM) and (max-width: $mobile) {
            @include adaptiveValue("margin-left", 64, 42);
        }
        @media (max-width: $mobileM) {
            @include adaptiveValue("padding-bottom", 30, 15);
            @include adaptiveValue("padding-left", 30, 12);
            @include adaptiveValue("padding-right", 30, 12);
            margin-top: 0;
        }
    }

    // .item-step_bg
    &_bg {
        @media (min-width: $mobile) {
            background-color: $White;
            color: $mainColor;

            .item-step__num {
                background: $Gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

// steps ====================================================================================================
.clients {
    background-color: $LGBlue;
    min-width: 0;

    // .clients__container
    &__container {
    }

    // .clients__heading
    &__heading {
        text-align: center;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }

    // .clients__slider
    &__slider {
        min-width: 0;
    }

    // .clients__wrapper
    &__wrapper {
        min-width: 0;

        @media (min-width: $mobile) {
            display: grid !important;
            grid-template-columns: repeat(4, 1fr);
            gap: rem(30) rem(20);
        }
    }

    // .clients__slide
    &__slide {
    }

    a.clients__slide {
        @media (any-hover: hover) {
            transition: $transition ease opacity 0s;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
// tariffs ====================================================================================================
.tariffs {
    // .tariffs__container
    &__container {
    }

    // .tariffs__heading
    &__heading {
        max-width: rem(511);
        font-weight: 400;
        @include adaptiveValue("font-size", 18, 14);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }

    // .tariffs__table
    &__table {
        @media (min-width: $mobileM) {
            // width: 100%;
            overflow-x: auto;
            scrollbar-width: thin;
            margin-left: rem(-10);
            margin-right: rem(-10);

            table {
                width: 100%;
                border-spacing: rem(10) 0;
                vertical-align: top;
            }

            th {
                padding-bottom: rem(24);
                border-bottom: rem(1) solid $Line;

                &:first-child {
                    text-align: left;
                }
            }

            td {
                padding-top: rem(24);
                padding-bottom: rem(24);
                border-bottom: 1px solid $Line;
                vertical-align: top;

                &:not(:first-child) {
                    text-align: center;
                }
            }

            i {
                font-size: rem(30);

                &._icon-check {
                    color: #2e4798;
                }
                &._icon-negative {
                    color: #7d7d7d;
                }
            }
        }
        @media (min-width: $mobile) {
            margin-left: rem(-20);
            margin-right: rem(-20);

            table {
                border-spacing: rem(20) 0;
            }
        }
        @media (max-width: $mobileM) {
            display: none;
        }
    }

    // .tariffs__slider
    &__slider {
        position: relative;

        @media (min-width: $mobileM) {
            display: none;
        }
    }

    // .tariffs__wrapper
    &__wrapper {
    }

    // .tariffs__slide
    &__slide {
    }
}

.tariff-slide {
    @media (max-width: $mobileM) {
        background-color: $LGBlue;
        padding: rem(16);
        display: grid;
        row-gap: rem(16);
        font-size: rem(12);
        line-height: math.div(16, 12);

        // .tariff-slide__caption
        &__caption {
            font-weight: 600;
            font-size: rem(16);
            line-height: math.div(18, 16);

            &:not(:last-child) {
                margin-bottom: rem(8);
            }
        }

        // .tariff-slide__row
        &__row {
            display: grid;
            grid-template-columns: percent(140, 254) 1fr;
            gap: rem(6);
        }

        // .tariff-slide__key
        &__key {
            color: $DGrey;
        }

        // .tariff-slide__value
        &__value {
            text-align: right;

            i {
                font-size: rem(20);

                &._icon-check {
                    color: #2e4798;
                }
                &._icon-negative {
                    color: #7d7d7d;
                }
            }
        }
    }
}

// reviews ====================================================================================================
.reviews {
    background-color: $LGBlue;

    // .reviews__slider
    &__slider {
        max-width: rem($maxWidthContainer);
        margin: 0 auto;
        box-sizing: content-box;
        @extend %container;

        .swiper {
            // .swiper__arrows
            &__arrows {
                @media (max-width: $mobileM) {
                    display: none;
                }
            }

            // .swiper__arrow
            &__arrow {
                // .swiper__arrow_left
                &_left {
                }
                // .swiper__arrow_right
                &_right {
                }
            }

            // .swiper-pagination
            &-pagination {
                @media (min-width: $mobileM) {
                    display: none;
                }
                @media (max-width: $mobileM) {
                    margin-top: rem(32);
                }
            }
        }
    }

    // .reviews__heading
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }

    // .reviews__title
    &__title {
    }

    // .reviews__wrapper
    &__wrapper {
    }

    // .reviews__slide
    &__slide {
    }
}

.review-slide {
    position: relative;
    transition: $transition ease opacity 0s;

    @media (min-width: $mobileM) {
        @include adaptiveValue("padding-left", 100, 60, 1440, 768, 1);
    }

    &.swiper-slide-next {
        opacity: 0.3;
    }

    &::before {
        content: "";
        display: block;
        @include adaptiveValue("width", 45, 26);
        @include adaptiveValue("height", 47, 27);
        background: url(../img/icons/quote.svg) no-repeat center/contain;

        @media (min-width: $mobileM) {
            position: absolute;
            left: 0;
            top: 0;
        }
        @media (max-width: $mobileM) {
            margin-bottom: rem(32);
        }
    }

    // .review-slide__text
    &__text {
        font-weight: 400;
        @include adaptiveValue("font-size", 20, 14);
        line-height: math.div(32, 20);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 32);
        }
    }

    // .review-slide__author
    &__author {
        display: grid;
        align-items: flex-start;
        @include adaptiveValue("row-gap", 8, 4);
    }

    // .review-slide__name
    &__name {
        font-weight: 700;
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(29, 18);
    }

    // .review-slide__position
    &__position {
        @include adaptiveValue("font-size", 16, 12);
        color: $DGrey;
    }
}

// addresses ====================================================================================================
.addresses {
    overflow: hidden;

    // .addresses__container
    &__container {
        display: grid;
        @include adaptiveValue("column-gap", 32, 20, 1440, 768, 1);

        grid-template-columns: 1fr percent(320, 660);
        @media (min-width: $mobileM) {
        }
        @media (min-width: $tablet) {
            grid-template-columns: 1fr percent(680, 1180);
        }
        @media (max-width: $mobileM) {
            row-gap: rem(32);
        }
    }

    // .addresses__left
    &__left {
        display: grid;
        grid-template-rows: 1fr;
    }

    // .addresses__text
    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }

    // .addresses__contacts
    &__contacts {
        @include adaptiveValue("row-gap", 32, 16);

        .contacts {
            // .contacts__item
            &__item {
                @include adaptiveValue("font-size", 20, 14);
                line-height: math.div(28, 20);

                &::before {
                    @include adaptiveValue("font-size", 28, 20);
                    color: #2e4798;
                }

                // .contacts__item_phone
                &_phone {
                }
            }
        }

        a.contacts__item {
            @media (any-hover: hover) {
                &:hover {
                    span {
                        text-decoration: underline $mainColor from-font;
                    }
                }
            }
        }
    }

    // .addresses__map
    &__map {
        display: block;
        position: relative;
        padding-bottom: percent(547, 680);
        overflow: hidden;
        border-radius: rem(400) rem(1) rem(1) rem(400);

        /*         @media (max-width: $mobileM) {
            grid-row: 1/2;
            padding-bottom: rem(284);
            max-width: rem(296);
            border-radius: rem(1) rem(400) rem(400) rem(1);
        } */

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .addresses__map {
        @media (any-hover: hover) {
            transition: $transition ease opacity 0s;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

// banner ====================================================================================================
.banner {
    position: relative;
    color: $White;
    display: flex;
    align-items: center;
    text-align: center;

    @media (min-width: $mobile) {
        &::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            @include adaptiveValue("width", 404, 168, 1440, 768, 1);
            height: 100%;
            background: url(../img/pattern-bg.svg) no-repeat center/cover;
            pointer-events: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        background-color: rgba($color: $mainColor, $alpha: 0.2);
    }

    // .banner__bg
    &__bg {
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }

    // .banner__container
    &__container {
        max-width: rem(780);
        position: relative;
    }

    // .banner__text
    &__text {
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    // .banner__btn
    &__btn {
        .btn {
            font-weight: 600;
            @include adaptiveValue("font-size", 20, 16);
            padding-left: rem(52);
            padding-right: rem(52);

            @media (max-width: $mobileSmall) {
                width: 100%;
            }
        }
    }

    // .banner__back
    &__back {
        &:not(:first-child) {
            @include adaptiveValue("margin-top", 140, 60);
        }

        a {
            @media (any-hover: hover) {
                &:hover {
                    span {
                        text-decoration: underline $White from-font;
                    }
                }
            }
        }
    }
}
//====================================================================================================
