// services ====================================================================================================
.services {
   overflow: hidden;
   
   // .services__container
   &__container {
   }

   // .services__heading
   &__heading {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 64, 32);
      }
   }

   // .services__items
   &__items {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 120, 64);
   }

   // .services__item
   &__item {
   }
}

.service-item {
   display: grid;
   align-items: center;
   @include adaptiveValue("column-gap", 100, 20, 1440, 992, 1);

   @media (min-width: $mobileM) {
      grid-template-columns: percent(540, 1180) 1fr;
   }

   &:nth-child(2n-1) {
      @media (min-width: $tablet) {
         grid-template-columns: percent(480, 1180) 1fr;
      }
      @media (min-width: $mobileM) {
         .service-item__image {
            @include adaptiveValue("border-top-right-radius", 200, 100);
            @include adaptiveValue("border-bottom-right-radius", 200, 100);
         }
      }
   }
   &:nth-child(2n) {
      @media (min-width: $tablet) {
         grid-template-columns: 1fr percent(480, 1180);
      }

      @media (min-width: $mobileM) {
         .service-item__body {
            grid-row: 1/2;
         }

         .service-item__image {
            @include adaptiveValue("border-top-left-radius", 200, 100);
            @include adaptiveValue("border-bottom-left-radius", 200, 100);
         }
      }
   }

   // .service-item__image
   &__image {
      overflow: hidden;
      border-radius: rem(1);
      position: relative;

      @media (min-width: $tablet) {
         padding-bottom: percent(300, 480);
      }
      @media (min-width: $mobileM) and (max-width: $tablet) {
         height: 100%;
      }
      @media (max-width: $mobileM) {
         @include adaptiveValue("padding-bottom", 250, 200, 575, 320, 1);
         margin-bottom: rem(16);
         @include adaptiveValue("border-top-right-radius", 200, 100);
         @include adaptiveValue("border-bottom-right-radius", 200, 100);
      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   a.service-item__image {
      @media (any-hover: hover) {
         transition: $transition ease opacity 0s;

         &:hover {
            opacity: 0.8;
         }
      }
   }

   // .service-item__body
   &__body {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 32, 16);
      max-width: rem(580);
   }

   // .service-item__caption
   &__caption {
      @include adaptiveValue("font-size", 26, 16);
      line-height: math.div(34, 26);
   }
   a.service-item__caption {
      text-decoration: underline transparent from-font;
      text-underline-offset: 3px;
      transition: $transition ease text-decoration 0s;

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline $mainColor from-font;
         }
      }
   }

   // .service-item__excerpt
   &__excerpt {
      font-weight: 400;
   }

   // .service-item__button
   &__button {
      .btn {
         padding-left: rem(32);
         padding-right: rem(32);

         @media (any-hover: hover) {
            &:hover {
               padding-left: rem(38);
               padding-right: rem(38);
            }
         }
      }
   }
}
//====================================================================================================
