// job ====================================================================================================
.job {
   position: relative;

   @media (min-width: $mobile) {
      &::before,
      &::after {
         content: "";
         display: block;
         position: absolute;
         background: $Gradient;
         pointer-events: none;
      }
      &::before {
         right: percent(342, 1440);
         top: 0;
         width: rem(20);
         height: rem(71);
         animation: job-before 12s ease infinite;
      }
      &::after {
         width: rem(10);
         height: rem(80);
         top: rem(22);
         right: percent(310, 1440);
         animation: job-after 12s ease infinite;
      }

      @keyframes job-before {
         0% {
            top: 0;
         }
         50% {
            top: rem(44);
         }
         100% {
            top: 0;
         }
      }
      @keyframes job-after {
         0% {
            top: rem(22);
         }
         50% {
            top: rem(-22);
         }
         100% {
            top: rem(22);
         }
      }
   }

   // .job__container
   &__container {
   }

   // .job__heading
   &__heading {
      max-width: rem(546);
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(27, 18);

      h2,
      h3 {
         font-weight: 600;
      }

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 32);
      }
   }

   // .job__items
   &__items {
      display: grid;
      align-items: flex-start;
      row-gap: rem(8);
   }

   // .job__item
   &__item {
   }
}

.job-item {
   background-color: $LGBlue;
   @include adaptiveValue("padding", 30, 20, 1440, 575, 1);

   // .job-item__heading
   &__heading {
      display: grid;
      gap: rem(8);

      @media (min-width: $mobileM) {
         grid-template-columns: percent(615, 1180) 1fr;
         gap: rem(16);
      }
   }

   // .job-item__position
   &__position {
      @include adaptiveValue("font-size", 22, 16);
      line-height: math.div(29, 22);
   }

   // .job-item__price
   &__price {
      @media (min-width: $mobileM) {
         text-align: right;
      }
   }

   // .job-item__descr
   &__descr {
      color: $DGrey;

      p {
         margin: rem(8) 0;
      }

      @media (min-width: $mobileM) {
         grid-column: 1/3;
      }
      @media (max-width: $mobileM) {
         &:not(:first-child) {
            margin-top: rem(8);
         }
      }
   }

   // .job-item__body
   &__body {
      @include adaptiveValue("padding-top", 48, 24);
      @include adaptiveValue("padding-bottom", 48, 24);
   }

   // .job-item__list
   &__list {
      display: grid;
      align-items: flex-start;
      @include adaptiveValue("row-gap", 48, 24);
   }

   // .job-item__row
   &__row {
      display: grid;
      align-items: flex-start;
      gap: rem(16);

      @media (min-width: $mobileM) {
         grid-template-columns: percent(370, 1180) 1fr;
      }
   }

   // .job-item__caption
   &__caption {
      max-width: rem(201);
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(23, 18);
      background: $Gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }

   // .job-item__text
   &__text {
      max-width: rem(680);
   }

   .btn {
      @include adaptiveValue("font-size", 16, 14);
      padding: rem(20) rem(32);
      @include adaptiveValue("padding-top", 20, 12);
      @include adaptiveValue("padding-bottom", 20, 12);
      @include adaptiveValue("min-height", 58, 53);

      @media (max-width: $mobileSmall) {
         width: 100%;
      }

      @media (any-hover: hover) {
         &:hover {
            padding: rem(26) rem(38);
            @include adaptiveValue("padding-top", 26, 18);
            @include adaptiveValue("padding-bottom", 26, 18);
         }
      }
   }

   // .job-item__more
   &__more {
      font-weight: 500;
      font-size: rem(14);
      line-height: math.div(18, 14);
      color: #2e4798;
      text-decoration: underline #2e4798 from-font;
      text-underline-offset: rem(2);
      transition: $transition ease text-decoration 0s;

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline transparent from-font;
         }
      }

      &:not(:first-child) {
         margin-top: rem(16);
      }
   }
}
// ====================================================================================================
