//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("min-height", 68, 52);
	@include adaptiveValue("padding", 24, 16);
	font-weight: 500;
	font-size: rem(16);
	line-height: math.div(20, 16);
	text-align: center;
	cursor: pointer;
	border-radius: rem(40);

	@media (any-hover: hover) {
		transition: $transition ease padding, $transition margin 0s;

		&:hover {
			@include adaptiveValue("padding", 30, 24);
			@include adaptiveValue("margin", -6, -8);
		}
	}

	&_bg {
		background: $Gradient;
		color: $White;
	}

	&_white {
		background-color: $White;
		color: #2e4798;
	}

	&_border {
		color: $mainColor;
		position: relative;
		background-color: $White;
		background-clip: padding-box;
		border: rem(1) solid transparent;

		&::before {
			content: "";
			background: $Gradient;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			pointer-events: none;
			margin: rem(-1);
			border-radius: inherit;
		}
	}
}

.back-button {
	@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(18, 16);
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;

	&::before {
		margin-right: rem(10);
		font-size: rem(24);
	}

	span {
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;
	}
}
a.back-button {
	@media (any-hover: hover) {
		&:hover {
			span {
				text-decoration: underline $mainColor from-font;
			}
		}
	}
}
