// Заголовки, общие БЄМ блоки и проче...
h,
.title-h {
    &1 {
        font-weight: 500;
        @include adaptiveValue("font-size", 60, 36);
        line-height: math.div(66, 60);
    }
    &2 {
        font-weight: 600;
        @include adaptiveValue("font-size", 50, 28);
        line-height: math.div(55, 50);
    }
    &3 {
        font-weight: 600;
        @include adaptiveValue("font-size", 40, 18);
        line-height: math.div(52, 40);
    }
    &4 {
        font-weight: 600;
        @include adaptiveValue("font-size", 30, 16);
        line-height: math.div(33, 30);
    }
    &5 {
        font-weight: 700;
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(30, 20);
    }
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

._content {
    & > * {
        margin-top: rem(16);
        margin-bottom: rem(16);
    }

    h1,
    h2,
    h3 {
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    p {
        margin: rem(16) 0;
    }

    ol {
        counter-reset: item;

        li {
            position: relative;
            @include adaptiveValue("padding-left", 40, 24);
            list-style-type: none;

            &::before {
                content: counter(item) ".";
                counter-increment: item;
                position: absolute;
                left: 0;
            }

            & > ol {
                counter-reset: subitem;

                li {
                    &::before {
                        content: counter(item) "." counters(subitem, ".") " ";
                        counter-increment: subitem;
                    }
                }
            }
        }
    }

    ul {
        padding-left: rem(20);
        display: grid;
        align-content: flex-start;
        row-gap: rem(8);
        margin: rem(16) 0;

        li {
            list-style-type: disc;
        }
    }

    blockquote {
        @include adaptiveValue("column-gap", 32, 12);
        font-weight: 600;
        font-style: italic;
        @include adaptiveValue("padding-left", 48, 30);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            flex: 0 0;
            @include adaptiveValue("flex-basis", 28, 20);
            @include adaptiveValue("width", 28, 20);
            height: rem(29);
            background: url(../img/icons/quote.svg) no-repeat center/contain;
        }

        cite {
            color: $DGrey;
        }
    }

    .table {
        width: 100%;
        overflow-x: auto;
        scrollbar-width: thin;

        table {
            width: 100%;
            border-collapse: collapse;
        }
    }

    a {
        background: $Gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: underline #2e4798 from-font;
        text-underline-offset: 3px;
        transition: $transition ease text-decoration 0s;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline transparent from-font;
            }
        }
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

section {
    @include adaptiveValue("padding-top", 110, 48);
    @include adaptiveValue("padding-bottom", 110, 48);
    overflow: hidden;

    &:first-child {
        &:not(._firstscreen) {
            @include adaptiveValue("padding-top", 40, 24);
        }
    }
}

._hidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.logo {
    display: flex;

    // .logo__link
    &__link {
        display: inline-flex;
    }

    // .logo__image
    &__image {
        max-width: 100%;
        height: auto;

        svg {
            max-width: 100%;
            height: auto;
        }
    }

    a.logo__link {
        display: inline-flex;

        @media (any-hover: hover) {
            transition: $transition ease opacity 0s;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    // .logo__figure
    &__figure {
        position: relative;
        overflow: hidden;
    }

    // .logo__figure-dummy
    &__figure-dummy {
    }
}

.menu {
    // .menu__nav
    &__nav {
    }

    // .menu__list
    &__list {
        a {
            @include adaptiveValue("font-size", 16, 12);
            line-height: math.div(22, 16);
            color: $White;
            text-decoration: underline transparent from-font;
            text-underline-offset: 3px;
            transition: $transition ease text-decoration 0s;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline $White from-font;
                }
            }
        }
    }
}

.contacts {
    display: grid;
    align-items: flex-start;
    justify-items: flex-start;
    row-gap: rem(16);

    // .contacts__caption
    &__caption {
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(22, 16);
        color: $DGrey;
    }

    // .contacts__item
    &__item {
        display: inline-flex;
        align-items: flex-start;
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(22, 16);

        &::before {
            @include adaptiveValue("font-size", 22, 20);
            margin-right: rem(8);
        }

        // .contacts__item_phone
        &_phone {
            white-space: nowrap;
        }
    }

    a.contacts__item {
        @media (any-hover: hover) {
            span {
                text-decoration: underline transparent from-font;
                text-underline-offset: 3px;
                transition: $transition ease text-decoration 0s;
            }

            &:hover {
                span {
                    text-decoration: underline $White from-font;
                }
            }
        }
    }
}

.social {
    display: grid;
    grid-template-columns: repeat(auto-fit, rem(24));
    font-size: rem(24);
    @include adaptiveValue("gap", 48, 40);

    // .social__item
    &__item {
        padding: rem(5);
        margin: rem(-5);
        color: rgba($color: $White, $alpha: 0.7);

        @media (any-hover: hover) {
            transition: $transition ease color 0s;
            &:hover {
                color: $White;
            }
        }
    }
}

.page-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: rem(-10);

    & > * {
        padding: rem(10);
    }

    .page-numbers {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("width", 48, 32);
        @include adaptiveValue("height", 48, 32);
        @include adaptiveValue("flex-basis", 48, 32);
        border-radius: 50%;
        background-color: $White;
        border: 1px solid $Line;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(21, 16);
        color: $DGrey;

        @media (any-hover: hover) {
            transition: $transition ease border-color 0s;

            &:hover {
                border-color: #9f31d3;
            }
        }

        &.current {
            border-color: #2e4798;
            color: $mainColor;
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-right", 8, 4);
        }

        &[disabled] {
            opacity: 0.6;
            pointer-events: none;
        }

        &.dots {
            border: 0;
        }
    }
    a.page-numbers {
        @media (any-hover: hover) {
            transition: $transition ease border-color 0s;

            &:hover {
                // border-color: $PBlue;
            }
        }
    }

    // .page-pagination__arrows
    &__arrows {
        display: flex;
        align-items: center;
        color: $DGrey;

        .page-numbers {
            border: 1px solid #2e4798;
            @include adaptiveValue("font-size", 20, 16);

            &:not(:last-child) {
                @include adaptiveValue("margin-right", 16, 8);
            }
        }
    }

    // .page-pagination__prev
    &__prev {
        transform: rotate(180deg);
    }

    // .page-pagination__next
    &__next {
    }

    .nav-links {
    }

    .screen-reader-text {
        display: none !important;
    }
}

.back {
    // .back__link
    &__link {
        display: flex;
        align-items: center;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(18, 16);
        text-transform: uppercase;

        &::before {
            @include adaptiveValue("font-size", 24, 18);
            margin-right: rem(10);
        }

        @media (any-hover: hover) {
            transition: $transition ease color 0s;

            &:hover {
                color: #2e4798;
            }
        }
    }
}

// swiper
.swiper {
    // .swiper-pagination
    &-pagination {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &:not(:first-child) {
            margin-top: rem(24);
        }

        // .swiper-pagination-bullet
        &-bullet {
            flex: 0 0 rem(22);
            width: rem(22);
            height: rem(22);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;

            &::before {
                content: "";
                display: block;
                width: rem(12);
                height: rem(12);
                background-color: $Line;
                border-radius: inherit;
                transition: $transition ease background-color 0s;
            }

            &:not(:last-child) {
                margin-right: rem(6);
            }

            // .swiper-pagination-bullet-active
            &-active {
                &::before {
                    background-color: #2e4798;
                }
            }
        }

        // .swiper-pagination-lock
        &-lock {
            display: none;
        }
    }

    // .swiper__arrows
    &__arrows {
        display: flex;
        align-items: center;
        gap: rem(20);
        padding-top: rem(10);
        padding-bottom: rem(10);
    }

    // .swiper__arrow
    &__arrow {
        border: rem(1) solid #2e4798;
        font-size: rem(20);
        color: $DGrey;
        padding: rem(13);
        border-radius: 50%;

        @media (any-hover: hover) {
            transition: $transition all 0s;

            &:hover {
                color: $mainColor;
                padding: rem(19);
                margin: rem(-6);
            }
        }

        // .swiper__arrow_left
        &_left {
            transform: rotate(180deg);
        }

        // .swiper__arrow_right
        &_right {
        }
    }
}
